<!doctype html>
<html lang="vi">

<head>
  <%- include('../_template/head'); %>

  <title>Đăng nhập</title>
</head>

<body>
  <div class="container">
    <h1>Đăng nhập</h1>

    <form method="post" action="/auth/login">
      <div class="mb-3">
        <label for="Email" class="form-label">Tên đăng nhập</label>
        <input type="text" class="form-control" id="Email" name="Email" placeholder="Tên đăng nhập">
      </div>

      <div class="mb-3">
        <label for="MatKhau" class="form-label">Mật khẩu</label>
        <input type="password" class="form-control" id="MatKhau" name="MatKhau" placeholder="Mật khẩu">
      </div>

      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Đăng nhập</button>
      </div>

      <div>
        <p>Bạn chưa có tài khoản? <a href="/auth/register">Đăng ký ngay</a></p>
      </div>
    </form>
  </div>

  <%- include('../_template/foot'); %>
</body>

</html>
