<!doctype html>
<html lang="vi">

<head>
  <%- include('../_template/head'); %>

  <title>Đăng ký</title>
</head>

<body>
  <%- include('../_template/navbar'); %>

  <div class="container">
    <h1>Đăng ký</h1>

    <form method="post" action="/auth/register">
      <div class="mb-3">
        <label for="redirect" class="form-label">Bạn là?</label>
        <select class="form-control" name="redirect" id="redirect" required>
          <option value="/auth/register/customer">Khách hàng</option>
          <option value="/auth/register/employee">Nhân viên</option>
          <option value="/auth/register/partner">Đối tác</option>
          <option value="/auth/register/driver">Tài xế</option>
        </select>
      </div>

      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Tiếp tục</button>
      </div>

      <div>
        <p>Bạn đã có tài khoản? <a href="/auth/login">Đăng nhập ngay</a></p>
      </div>
    </form>
  </div>

  <%- include('../_template/foot'); %>
</body>

</html>
