<!doctype html>
<html lang="vi">

<head>
  <%- include('../_template/head'); %>

  <title>Trang chủ</title>
</head>

<body>
  <%- include('../_template/navbar'); %>

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3">
        <%- include('../_template/sidebar/admin'); %>
      </div>

      <div class="col-12 col-md-9">
        <h1>Danh sách người dùng</h1>
      </div>
    </div>
  </div>

  <%- include('../_template/foot'); %>
</body>

</html>