<!doctype html>
<html lang="vi">

<head>
  <%- include('../_template/head'); %>
</head>

<body>
  <h1>Home</h1>
  <button class="btn btn-primary">Button</button>

  <%- include('../_template/foot'); %>
</body>

</html>