<div class="list-group">
  <a href="/admin/manage-users/" class="list-group-item list-group-item-action">
    Quản lí tài khoản
  </a>
  <a href="/auth/logout" class="list-group-item list-group-item-action">
    Đăng xuất
  </a>
</div>