<div class="list-group">
  <a href="/customer/manage-order" class="list-group-item list-group-item-action">
    Thông tin đặt hàng
  </a>
  <!-- <a href="/customer/order-status" class="list-group-item list-group-item-action">
    Tình trạng đơn hàng
  </a> -->
  <a href="/customer/create-order" class="list-group-item list-group-item-action">
    Thêm đơn hàng
  </a>
  <a href="/auth/logout" class="list-group-item list-group-item-action">
    Đăng xuất
  </a>
</div>