<div class="list-group">
  <a href="/employee/contracts" class="list-group-item list-group-item-action">
    Quản lí hợp đồng
  </a>
  <a href="/employee/" class="list-group-item list-group-item-action">
    Quản lí đối tác
  </a>
  <a href="/auth/logout" class="list-group-item list-group-item-action">
    Đăng xuất
  </a>
</div>