<div class="list-group">
  <a href="/partner/manage-product" class="list-group-item list-group-item-action">
    Quản lí sản phẩm
  </a>
  <a href="/partner/manage-order" class="list-group-item list-group-item-action">
    Quản lí đơn hàng
  </a>
  <a href="/auth/logout" class="list-group-item list-group-item-action">
    Đăng xuất
  </a>
</div>