<!doctype html>
<html lang="vi">

<head>
  <%- include('../_template/head'); %>

  <title>Đăng kí thông tin Đối tác</title>
</head>

<body>
  <div class="container">
    <h1>Đăng kí thông tin Đối tác</h1>

    <form method="post" action="/partner/register">
      <div class="mb-3">
        <label for="NguoiDaiDien" class="form-label">Người đại diện</label>
        <input type="text" class="form-control" id="NguoiDaiDien" name="NguoiDaiDien" placeholder="Người đại diện">
      </div>

      <div class="mb-3">
        <label for="ThanhPho" class="form-label">Thành phố</label>
        <input type="text" class="form-control" id="ThanhPho" name="ThanhPho" placeholder="Thành phố">
      </div>

      <div class="mb-3">
        <label for="Quan" class="form-label">Quận</label>
        <input type="text" class="form-control" id="Quan" name="Quan" placeholder="Quận">
      </div>

      <div class="mb-3">
        <label for="SoChiNhanh" class="form-label">Số chi nhánh</label>
        <input type="number" class="form-control" id="SoChiNhanh" name="SoChiNhanh" placeholder="Số chi nhánh">
      </div>

      <div class="mb-3">
        <label for="DonMoiNgay" class="form-label">Số lượng đơn hàng mỗi ngày</label>
        <input type="number" class="form-control" id="DonMoiNgay" name="DonMoiNgay" placeholder="Số lượng đơn hàng mỗi ngày">
      </div>

      <div class="mb-3">
        <label for="LoaiHang" class="form-label">Loại hàng vận chuyển</label>
        <input type="text" class="form-control" id="LoaiHang" name="LoaiHang" placeholder="Loại hàng vận chuyển">
      </div>

      <div class="mb-3">
        <label for="DiaChiKinhDoanh" class="form-label">Địa chỉ kinh doanh</label>
        <input type="text" class="form-control" id="DiaChiKinhDoanh" name="DiaChiKinhDoanh" placeholder="Địa chỉ kinh doanh">
      </div>

      <button type="submit" class="btn btn-primary">Đăng kí</button>
    </form>
  </div>

  <%- include('../_template/foot'); %>
</body>

</html>
