<!doctype html>
<html lang="vi">

<head>
  <%- include('../_template/head'); %>
  <title>Điều chỉnh thông tin cá nhân</title>
</head>

<body>
    <h2 class="card-title mt-5 text-center">Điều chỉnh thông tin cá nhân</h2>
    <form action="">
      <div class="container mt-5" style="max-width: 400px;">
        <p class="mt-4">Họ tên</p>
        <input type="text" class="form-control" name="name" id="name" value="Võ Đức Minh">
        <p class="mt-4">Số điện thoại</p>
        <input type="text" class="form-control" name="phone" id="phone" value="0797999281">
        <p class="mt-4">Địa chỉ</p>
        <input type="text" class="form-control" name="address" id="address" value="126 đường 3/2, Ninh Kiều, Hưng Lợi, Cần Thơ">
        <p class="mt-4">Email</p>
        <input type="text" class="form-control" name="email" id="email" value="18120138@student.hcmus.edu.vn">
        <button type="submit" class="btn btn-primary col-12 mt-5">Hoàn tất</button>
      </div>
    </form>
  <%- include('../_template/foot'); %>
</body>

</html>