<!doctype html>
<html lang="vi">

<head>
  <%- include('../_template/head'); %>

  <title>Điều chỉnh thông tin cá nhân</title>
</head>

<body>
    
  <div class="container mt-5" style="max-width: 1000px;">
    <div class="row">
      <div class="col">
        <h5 class="text-center">Danh sách doanh nghiệp</h5>
          <div class="form-group mt-5">
          <select multiple class="form-control" style="height: 400px"id="exampleFormControlSelect1">
            <% for (let partner of partnerList) { %> 
            <option><%= partner.TenDoiTac%></option>
            <% } %> 
          </select>
        </div>
      </div>
      <div class="col">
        <h5 class="text-center">Danh sách sản phẩm</h5>
        <div class="form-group mt-5">
          <select multiple class="form-control" style="height: 400px"id="exampleFormControlSelect1">
            <% for (let product of productList) { %> 
            <option><%= product.TenSP%></option>
            <% } %> 
          </select>
        </div>
      </div>
      <div class="col">
        <h5 class="text-center">Thông tin đặt hàng</h5>
        <form action="">
          <div class="container mt-5">

            <label>Tên sản phẩm</label>
            <input type="text" class="form-control mt-2" name="name" id="name">
            <label class="mt-3">Số lượng</label>
            <input class="form-control mt-2" id="quantity" type="number"></input>
            <label class="mt-3">Địa chỉ giao hàng</label>
            <input type="text mt-2" class="form-control mt-3" name="address" id="address">
            <label class="mt-3">Hình thức thanh toán</label>
            <select class="form-control mt-2" name=""required>
              <option value="">Chọn hình thức thanh toán</option>
              <option value="1">Thanh toán khi nhận hàng</option>
              <option value="2">Thanh toán qua hình thức chuyên khoản</option>
              <option value="3">Thanh toán bằng ví điện tử</option>
            </select>
            <button type="submit" class="btn btn-primary col-12 mt-4">Đặt hàng</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <%- include('../_template/foot'); %>
</body>

</html>